* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
/* 
/* body {
    background: url("https://images.unsplash.com/photo-1577558444276-089fc1879fd8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-size: 155rem 100rem;
} */ 

.container {
    background-color: #EAEDF0;
    overflow: hidden;
}

.page {
    width: 90rem;
    margin: 0 auto;
}

.menu {
    height: 20rem;
    background-color: #B2D6FF;
}

.sidebar {
    float: left;
    width: 20rem;
    height: 50rem;
    background-color: #F09A9D;
    
}

.content {
    float: left;
    width: 65rem;
    height: 50rem;
    background-color: #F5CF8E;
    padding: 2rem;
}

.footer {
    clear: both;
    /* height: 20rem; */
    background-color: #D6E9FE;
    overflow: hidden;
}

.footer-elements {
    float: left;
    width: 31%;
    margin: 2rem 1.15%;
    height: 20rem;
    background-color: #B2D6FF;
    padding: 1rem;
}

/* Styling Content */


.article-image {
    float: left;
    border: 0.2rem solid black;
    width: 20rem;
    height: 20rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.page .content p {
    font-size: 1.899rem;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    margin-bottom: 0.2rem;
}

.footer-elements .avatar{
    float: left;
    width: 7rem;
    height: 7rem;
    border: 0.1rem solid;
    border-radius: 5rem;
    margin: 2rem;
    background-color: #D6E9FE;
}

.footer-elements .comment-name {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 2;   
}

.footer-elements .comment {
    font-size: 1.5rem;
    margin: 0.8rem;
    letter-spacing: 0.1rem;
    line-height: 1.4;    
    overflow: hidden;
}